@mixin mu-align-content(
  $pseudo: (),
  $responsive: (),
  $values: (
    start: flex-start,
    center: center,
    end: flex-end,
    between: space-between,
    around: space-around
  )
) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-align-content-#{$key},
      (
        align-content: $value
      ),
      $pseudo,
      $responsive
    );
  }
}
