@mixin mu-align-items(
  $pseudo: (),
  $responsive: (),
  $values: (
    stretch: stretch,
    start: flex-start,
    center: center,
    end: flex-end,
    baseline: baseline
  )
) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-items-#{$key},
      (
        align-items: $value
      ),
      $pseudo,
      $responsive
    );
  }
}
