@mixin u-align-items(
  $responsive: false,
  $pseudo: false,
  $values: (
    stretch: stretch,
    start: flex-start,
    center: center,
    end: flex-end,
    baseline: baseline
  )
) {
  .u-items {
    @each $key, $value in $values {
      &-#{$key} {
        @include ruleset($responsive) {
          align-items: $value;
          @include pseudo-variants($pseudo);
        }
      }
    }
  }
}
