@mixin mu-align-self(
  $pseudo: (),
  $responsive: (),
  $values: (
    auto: auto,
    start: flex-start,
    center: center,
    end: flex-end,
    stretch: stretch
  )
) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-align-self-#{$key},
      (
        align-self: $value
      ),
      $pseudo,
      $responsive
    );
  }
}
