@mixin mu-aspect-ratio(
  $pseudo: (),
  $responsive: (),
  $values: (
    16\%9: 100% / (16 / 9),
    4\%3: 100% / (4 / 3),
    1\%1: 100%
  )
) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-aspect-#{$key},
      (
        padding-top: $value
      ),
      $pseudo,
      $responsive
    );
  }
}
