@mixin u-background-color(
  $responsive: false,
  $pseudo: false,
  $values: (
    black: #000000,
    fuchsia-blue: #845ec2,
    hopbush: #d65db1,
    tickle-me-pink: #ff6f91,
    atomic-tangerine: #ff9671,
    golden-tainoi: #ffc75f,
    festival: #f9f871,
    white: #ffffff
  )
) {
  .u-bg {
    @each $key, $value in $values {
      &-#{$key} {
        @include ruleset($responsive) {
          background-color: $value;
          @include pseudo-variants($pseudo);
        }
      }
    }
  }
}
