@mixin mu-background-attachment(
  $pseudo: (),
  $responsive: (),
  $values: (
    fixed: fixed,
    local: local,
    scroll: scroll
  )
) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-bg-#{$key},
      (
        background-attachment: $value
      ),
      $pseudo,
      $responsive
    );
  }
}
