@mixin mu-background-size(
  $pseudo: (),
  $responsive: (),
  $values: (
    auto: auto,
    cover: cover,
    contain: contain
  )
) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-bg-#{$key},
      (
        background-size: $value
      ),
      $pseudo,
      $responsive
    );
  }
}
