@mixin u-background-attachment(
  $responsive: false,
  $pseudo: false,
  $values: (
    fixed: fixed,
    local: local,
    scroll: scroll
  )
) {
  .u-bg {
    @each $key, $value in $values {
      &-#{$key} {
        @include ruleset($responsive) {
          background-attachment: $value;
          @include pseudo-variants($pseudo);
        }
      }
    }
  }
}
