@mixin mu-border-radius(
  $pseudo: (),
  $responsive: (),
  $values: (
    none: 0,
    sm: 2px,
    "": 4px,
    md: 6px,
    lg: 8px,
    xl: 10px,
    full: 9999px
  )
) {
  @each $prefix, $value in $values {
    $key: "";
    @if ($prefix != "") {
      $key: #{"-"}#{$prefix};
    }
    @include mu-create-utility(
      u-rounded#{$key},
      (
        border-radius: $value
      ),
      $pseudo,
      $responsive
    );
    @include mu-create-utility(
      u-rounded-t#{$key},
      (
        border-top-left-radius: $value,
        border-top-right-radius: $value
      ),
      $pseudo,
      $responsive
    );
    @include mu-create-utility(
      u-rounded-r#{$key},
      (
        border-top-right-radius: $value,
        border-bottom-right-radius: $value
      ),
      $pseudo,
      $responsive
    );
    @include mu-create-utility(
      u-rounded-b#{$key},
      (
        border-bottom-right-radius: $value,
        border-bottom-left-radius: $value
      ),
      $pseudo,
      $responsive
    );
    @include mu-create-utility(
      u-rounded-l#{$key},
      (
        border-top-left-radius: $value,
        border-bottom-left-radius: $value
      ),
      $pseudo,
      $responsive
    );
    @include mu-create-utility(
      u-rounded-tl#{$key},
      (
        border-top-left-radius: $value
      ),
      $pseudo,
      $responsive
    );
    @include mu-create-utility(
      u-rounded-tr#{$key},
      (
        border-top-right-radius: $value
      ),
      $pseudo,
      $responsive
    );
    @include mu-create-utility(
      u-rounded-br#{$key},
      (
        border-bottom-right-radius: $value
      ),
      $pseudo,
      $responsive
    );
    @include mu-create-utility(
      u-rounded-bl#{$key},
      (
        border-bottom-left-radius: $value
      ),
      $pseudo,
      $responsive
    );
  }
}
