@mixin mu-border-style(
  $pseudo: (),
  $responsive: (),
  $values: (
    solid: solid,
    dashed: dashed,
    dotted: dotted,
    none: none
  )
) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-border-#{$key},
      (
        border-style: $value
      ),
      $pseudo,
      $responsive
    );
  }
}
