@mixin mu-box-sizing(
  $pseudo: (),
  $responsive: (),
  $values: (
    content: content-box,
    border: border-box,
    padding: padding-box
  )
) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-box-#{$key},
      (
        box-sizing: $value
      ),
      $pseudo,
      $responsive
    );
  }
}
