@mixin mu-cursor(
  $pseudo: (),
  $responsive: (),
  $values: (
    auto: auto,
    default: default,
    pointer: pointer,
    text: text,
    move: move,
    not-allowed: not-allowed
  )
) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-cursor-#{$key},
      (
        cursor: $value
      ),
      $pseudo,
      $responsive
    );
  }
}
