@mixin mu-display(
  $pseudo: (),
  $responsive: (),
  $values: (
    block: block,
    inline-block: inline-block,
    inline: inline,
    flex: flex,
    inline-flex: inline-flex,
    none: none
  )
) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-d-#{$key},
      (
        display: $value
      ),
      $pseudo,
      $responsive
    );
  }
}
