@mixin u-flex-direction(
  $responsive: false,
  $pseudo: false,
  $values: (
    row: row,
    row-reverse: row-reverse,
    col: column,
    col-reverse: column-reverse
  )
) {
  .u-flex {
    @each $key, $value in $values {
      &-#{$key} {
        @include ruleset($responsive) {
          flex-direction: $value;
          @include pseudo-variants($pseudo);
        }
      }
    }
  }
}
