@mixin mu-flex-grow(
  $pseudo: (),
  $responsive: (),
  $values: (
    grow: 1,
    grow-0: 0
  )
) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-flex-#{$key},
      (
        flex-grow: $value
      ),
      $pseudo,
      $responsive
    );
  }
}
