@mixin mu-flex(
  $pseudo: (),
  $responsive: (),
  $values: (
    initial: 0 1 auto,
    1: 1 1 0%,
    auto: 1 1 auto,
    none: none
  )
) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-flex-#{$key},
      (
        flex: $value
      ),
      $pseudo,
      $responsive
    );
  }
}
