@mixin mu-flex-shrink(
  $pseudo: (),
  $responsive: (),
  $values: (
    no-wrap: nowrap,
    wrap: wrap,
    wrap-reverse: wrap-reverse
  )
) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-flex-#{$key},
      (
        flex-wrap: $value
      ),
      $pseudo,
      $responsive
    );
  }
}
