@mixin mu-flex-shrink(
  $pseudo: (),
  $responsive: (),
  $values: (
    shrink: 1,
    shrink-0: 0
  )
) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-flex-#{$key},
      (
        flex-shrink: $value
      ),
      $pseudo,
      $responsive
    );
  }
}
