@mixin u-flex-grow(
  $responsive: false,
  $pseudo: false,
  $values: (
    grow: 1,
    grow-0: 0
  )
) {
  .u-flex {
    @each $key, $value in $values {
      &-#{$key} {
        @include ruleset($responsive) {
          flex-grow: $value;
          @include pseudo-variants($pseudo);
        }
      }
    }
  }
}
