@mixin mu-flex-direction(
  $pseudo: (),
  $responsive: (),
  $values: (
    row: row,
    row-reverse: row-reverse,
    col: column,
    col-reverse: column-reverse
  )
) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-flex-#{$key},
      (
        flex-direction: $value
      ),
      $pseudo,
      $responsive
    );
  }
}
