@mixin mu-float(
  $pseudo: (),
  $responsive: (),
  $values: (
    left: left,
    right: right,
    none: none
  )
) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-float-#{$key},
      (
        float: $value
      ),
      $pseudo,
      $responsive
    );
  }
  @include mu-create-utility(
    u-clearfix,
    (
      after: (
        content: "",
        display: table,
        clear: both
      )
    ),
    $pseudo,
    $responsive
  );
}
