@mixin mu-font-style(
  $pseudo: (),
  $responsive: (),
  $values: (
    italic: italic,
    non-italic: normal
  )
) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-#{$key},
      (
        font-style: $value
      ),
      $pseudo,
      $responsive
    );
  }
}
