@mixin mu-font-weight(
  $pseudo: (),
  $responsive: (),
  $values: (
    hairline: 100,
    thin: 200,
    light: 300,
    normal: 400,
    medium: 500,
    semibold: 600,
    bold: 700,
    extrabold: 800,
    black: 900
  )
) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-font-#{$key},
      (
        font-weight: $value
      ),
      $pseudo,
      $responsive
    );
  }
}
