@mixin mu-font-family(
  $pseudo: (),
  $responsive: (),
  $values: (
    sans: #{'Noto Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"'},
    serif: #{'Noto Serif, Georgia, Cambria, "Times New Roman", Times, serif'},
    mono: #{'Inconsolata, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace'}
  )
) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-font-#{$key},
      (
        font-family: $value
      ),
      $pseudo,
      $responsive
    );
  }
}
