@mixin mu-font-size(
  $pseudo: (),
  $responsive: (),
  $values: (
    xxs: 10px,
    xs: 12px,
    sm: 14px,
    md: 16px,
    lg: 18px,
    xl: 20px,
    xxl: 22px,
    3xl: 24px
  )
) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-text-#{$key},
      (
        font-size: $value
      ),
      $pseudo,
      $responsive
    );
  }
}
