@mixin u-font-weight(
  $responsive: false,
  $pseudo: false,
  $values: (
    hairline: 100,
    thin: 200,
    light: 300,
    normal: 400,
    medium: 500,
    semibold: 600,
    bold: 700,
    extrabold: 800,
    black: 900
  )
) {
  .u-font {
    @each $key, $value in $values {
      &-#{$key} {
        @include ruleset($responsive) {
          font-weight: $value;
          @include pseudo-variants($pseudo);
        }
      }
    }
  }
}
