@mixin mu-letter-spacing(
  $pseudo: (),
  $responsive: (),
  $values: (
    tighter: -0.05em,
    tight: -0.025em,
    normal: 0,
    wide: 0.025em,
    wider: 0.05em,
    widest: 0.1em
  )
) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-tracking-#{$key},
      (
        letter-spacing: $value
      ),
      $pseudo,
      $responsive
    );
  }
}
