@mixin u-letter-spacing(
  $responsive: false,
  $pseudo: false,
  $values: (
    tighter: -0.05em,
    tight: -0.025em,
    normal: 0,
    wide: 0.025em,
    wider: 0.05em,
    widest: 0.1em
  )
) {
  .u-tracking {
    @each $key, $value in $values {
      &-#{$key} {
        @include ruleset($responsive) {
          letter-spacing: $value;
          @include pseudo-variants($pseudo);
        }
      }
    }
  }
}
