@mixin mu-line-height(
  $pseudo: (),
  $responsive: (),
  $values: (
    none: 1,
    tight: 1.25,
    snug: 1.375,
    normal: 1.5,
    relaxed: 1.625,
    loose: 2
  )
) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-leading-#{$key},
      (
        line-height: $value
      ),
      $pseudo,
      $responsive
    );
  }
}
