@mixin u-list-style-type(
  $responsive: false,
  $pseudo: false,
  $values: (
    none: none,
    disc: disc,
    decimal: decimal
  )
) {
  .u-list {
    @each $key, $value in $values {
      &-#{$key} {
        @include ruleset($responsive) {
          list-style-type: $value;
          @include pseudo-variants($pseudo);
        }
      }
    }
  }
}
