@mixin mu-list-style-position(
  $pseudo: (),
  $responsive: (),
  $values: (
    inside: inside,
    outside: outside
  )
) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-list-#{$key},
      (
        list-style-position: $value
      ),
      $pseudo,
      $responsive
    );
  }
}
