@mixin u-list-style-position(
  $responsive: false,
  $pseudo: false,
  $values: (
    inside: inside,
    outside: outside
  )
) {
  .u-list {
    @each $key, $value in $values {
      &-#{$key} {
        @include ruleset($responsive) {
          list-style-position: $value;
          @include pseudo-variants($pseudo);
        }
      }
    }
  }
}
