@mixin mu-list-style-type(
  $pseudo: (),
  $responsive: (),
  $values: (
    none: none,
    disc: disc,
    decimal: decimal
  )
) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-list-#{$key},
      (
        list-style-type: $value
      ),
      $pseudo,
      $responsive
    );
  }
}
