@mixin mu-object-fit(
  $pseudo: (),
  $responsive: (),
  $values: (
    contain: contain,
    cover: cover,
    fill: fill,
    none: none,
    scale-down: scale-down
  )
) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-object-#{$key},
      (
        object-fit: $value
      ),
      $pseudo,
      $responsive
    );
  }
}
