@mixin mu-opacity(
  $pseudo: (),
  $responsive: (),
  $values: (
    0: 0,
    25: 0.25,
    50: 0.5,
    75: 0.75,
    100: 1
  )
) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-opacity-#{$key},
      (
        opacity: $value
      ),
      $pseudo,
      $responsive
    );
  }
}
