@mixin u-order(
  $responsive: false,
  $pseudo: false,
  $values: (
    first: -1,
    last: 999,
    none: 0,
    1: 1,
    2: 2,
    3: 3,
    4: 4,
    5: 5,
    6: 6,
    7: 7,
    8: 8,
    9: 9,
    10: 10,
    11: 11,
    12: 12
  )
) {
  .u-order {
    @each $key, $value in $values {
      &-#{$key} {
        @include ruleset($responsive) {
          order: $value;
          @include pseudo-variants($pseudo);
        }
      }
    }
  }
}
