@mixin u-outline(
  $responsive: false,
  $pseudo: false,
  $values: (
    none: none
  )
) {
  .u-outline {
    @each $key, $value in $values {
      &-#{$key} {
        @include ruleset($responsive) {
          outline: $value;
          @include pseudo-variants($pseudo);
        }
      }
    }
  }
}
