@mixin u-overflow(
  $responsive: false,
  $pseudo: false,
  $values: (
    auto: auto,
    hidden: hidden,
    visible: visible,
    scroll: scroll
  )
) {
  .u-overflow {
    @each $key, $value in $values {
      &-#{$key} {
        @include ruleset($responsive) {
          overflow: $value;
          @include pseudo-variants($pseudo);
        }
      }
      &-x-#{$key} {
        @include ruleset($responsive) {
          overflow-x: $value;
          @include pseudo-variants($pseudo);
        }
      }
      &-y-#{$key} {
        @include ruleset($responsive) {
          overflow-y: $value;
          @include pseudo-variants($pseudo);
        }
      }
    }
  }

  .u-scrolling {
    &-touch {
      @include ruleset($responsive) {
        -webkit-overflow-scrolling: touch;
      }
    }
    &-auto {
      @include ruleset($responsive) {
        -webkit-overflow-scrolling: auto;
      }
    }
  }
}
