@mixin mu-overflow(
  $pseudo: (),
  $responsive: (),
  $values: (
    auto: auto,
    hidden: hidden,
    visible: visible,
    scroll: scroll
  ),
  $include-scrolling: false
) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-overflow-#{$key},
      (
        overflow: $value
      ),
      $pseudo,
      $responsive
    );
    @include mu-create-utility(
      u-overflow-x-#{$key},
      (
        overflow-x: $value
      ),
      $pseudo,
      $responsive
    );
    @include mu-create-utility(
      u-overflow-y-#{$key},
      (
        overflow-y: $value
      ),
      $pseudo,
      $responsive
    );
  }
  @if $include-scrolling == true {
    @include mu-create-utility(u-scrolling-touch, (-webkit-overflow-scrolling: touch), $pseudo, $responsive);
    @include mu-create-utility(u-scrolling-auto, (-webkit-overflow-scrolling: auto), $pseudo, $responsive);
  }
}
