@mixin mu-padding($pseudo: (), $responsive: (), $values: $mu-default-spacings) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-p-#{$key},
      (
        padding: $value
      ),
      $pseudo,
      $responsive
    );
    @include mu-create-utility(
      u-px-#{$key},
      (
        padding-left: $value,
        padding-right: $value
      ),
      $pseudo,
      $responsive
    );
    @include mu-create-utility(
      u-py-#{$key},
      (
        padding-top: $value,
        padding-bottom: $value
      ),
      $pseudo,
      $responsive
    );
    @include mu-create-utility(
      u-pt-#{$key},
      (
        padding-top: $value
      ),
      $pseudo,
      $responsive
    );
    @include mu-create-utility(
      u-pr-#{$key},
      (
        padding-right: $value
      ),
      $pseudo,
      $responsive
    );
    @include mu-create-utility(
      u-pb-#{$key},
      (
        padding-bottom: $value
      ),
      $pseudo,
      $responsive
    );
    @include mu-create-utility(
      u-pl-#{$key},
      (
        padding-left: $value
      ),
      $pseudo,
      $responsive
    );
  }
}
