@mixin u-pin(
  $responsive: false,
  $pseudo: false,
  $values: (
    auto: auto,
    0: 0,
    100: 100%
  )
) {
  .u {
    @each $key, $value in $values {
      &-inset-#{$key} {
        @include ruleset($responsive) {
          top: $value;
          right: $value;
          bottom: $value;
          left: $value;
        }
      }
      &-inset-y-#{$key} {
        @include ruleset($responsive) {
          top: $value;
          bottom: $value;
        }
      }
      &-inset-x-#{$key} {
        @include ruleset($responsive) {
          right: $value;
          left: $value;
        }
      }
      &-top-#{$key} {
        @include ruleset($responsive) {
          top: $value;
        }
      }
      &-right-#{$key} {
        @include ruleset($responsive) {
          right: $value;
        }
      }
      &-bottom-#{$key} {
        @include ruleset($responsive) {
          bottom: $value;
        }
      }
      &-left-#{$key} {
        @include ruleset($responsive) {
          left: $value;
        }
      }
    }
  }
  .u-n {
    @each $key, $value in $values {
      &-inset-#{$key} {
        @include ruleset($responsive) {
          top: -$value;
          right: -$value;
          bottom: -$value;
          left: -$value;
        }
      }
      &-inset-y-#{$key} {
        @include ruleset($responsive) {
          top: -$value;
          bottom: -$value;
        }
      }
      &-inset-x-#{$key} {
        @include ruleset($responsive) {
          right: -$value;
          left: -$value;
        }
      }
      &-top-#{$key} {
        @include ruleset($responsive) {
          top: -$value;
        }
      }
      &-right-#{$key} {
        @include ruleset($responsive) {
          right: -$value;
        }
      }
      &-bottom-#{$key} {
        @include ruleset($responsive) {
          bottom: -$value;
        }
      }
      &-left-#{$key} {
        @include ruleset($responsive) {
          left: -$value;
        }
      }
    }
  }
}
