@mixin mu-pointer-events(
  $pseudo: (),
  $responsive: (),
  $values: (
    none: none,
    auto: auto
  )
) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-pointer-events-#{$key},
      (
        pointer-events: $value
      ),
      $pseudo,
      $responsive
    );
  }
}
