@mixin mu-position(
  $pseudo: (),
  $responsive: (),
  $values: (
    static: static,
    fixed: fixed,
    absolute: absolute,
    relative: relative,
    sticky: sticky
  )
) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-#{$key},
      (
        position: $value
      ),
      $pseudo,
      $responsive
    );
  }
}
