@mixin mu-resize(
  $pseudo: (),
  $responsive: (),
  $values: (
    none: none,
    "": both,
    y: vertical,
    x: horizontal
  )
) {
  @each $prefix, $value in $values {
    $key: "";
    @if ($prefix != "") {
      $key: #{"-"}#{$prefix};
    }
    @include mu-create-utility(
      u-resize#{$key},
      (
        resize: $value
      ),
      $pseudo,
      $responsive
    );
  }
}
