@mixin mu-rotate(
  $pseudo: (),
  $responsive: (),
  $values: (
    90: 90deg,
    180: 180deg,
    270: 270deg
  )
) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-rotate-#{$key},
      (
        transform: rotate($value)
      ),
      $pseudo,
      $responsive
    );
  }
}
