@mixin u-rotate(
  $responsive: false,
  $pseudo: false,
  $values: (
    90: 90deg,
    180: 180deg,
    270: 270deg
  )
) {
  .u-rotate {
    @each $key, $value in $values {
      &-#{$key} {
        @include ruleset($responsive) {
          transform: rotate($value);
        }
      }
    }
  }
}
