@mixin mu-scale(
  $pseudo: (),
  $responsive: (),
  $values: (
    0: 0,
    1: 1
  )
) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-scale-#{$key},
      (
        transform: scale($value)
      ),
      $pseudo,
      $responsive
    );
  }
}
