@mixin mu-text-decoration(
  $pseudo: (),
  $responsive: (),
  $values: (
    underline: underline,
    line-through: line-through,
    no-underline: none
  )
) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-text-#{$key},
      (
        text-decoration: $value
      ),
      $pseudo,
      $responsive
    );
  }
}
