@mixin mu-text-overflow(
  $pseudo: (),
  $responsive: (),
  $values: (
    clip: clip,
    ellipsis: ellipsis
  )
) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-text-#{$key},
      (
        text-overflow: $value
      ),
      $pseudo,
      $responsive
    );
  }
}
