@mixin mu-text-align(
  $pseudo: (),
  $responsive: (),
  $values: (
    left: left,
    center: center,
    right: right,
    justify: justify
  )
) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-text-#{$key},
      (
        text-align: $value
      ),
      $pseudo,
      $responsive
    );
  }
}
