@mixin mu-text-transform(
  $pseudo: (),
  $responsive: (),
  $values: (
    uppercase: uppercase,
    lowercase: lowercase,
    capitalize: capitalize,
    normal-case: none
  )
) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-#{$key},
      (
        text-transform: $value
      ),
      $pseudo,
      $responsive
    );
  }
}
