@mixin u-translate($responsive: false, $pseudo: false, $values) {
  .u-translate {
    @each $key, $value in $values {
      @if type-of($value) != "list" {
        &-x-#{$key} {
          @include ruleset($responsive) {
            transform: translateX($value);
            @include pseudo-variants($pseudo);
          }
        }
        &-y-#{$key} {
          @include ruleset($responsive) {
            transform: translateY($value);
            @include pseudo-variants($pseudo);
          }
        }
        &-z-#{$key} {
          @include ruleset($responsive) {
            transform: translateZ($value);
            @include pseudo-variants($pseudo);
          }
        }
      } @else {
        @if length($value) == 2 {
          &-#{$key} {
            @include ruleset($responsive) {
              transform: translate(nth($value, 1), nth($value, 2));
              @include pseudo-variants($pseudo);
            }
          }
        } @else if length($value) == 3 {
          &-#{$key} {
            @include ruleset($responsive) {
              transform: translate3d(nth($value, 1), nth($value, 2), nth($value, 3));
              @include pseudo-variants($pseudo);
            }
          }
        }
      }
    }
  }
}
