@mixin mu-transform-origin(
  $pseudo: (),
  $responsive: (),
  $values: (
    t: top,
    tr: top right,
    r: right,
    br: bottom right,
    b: bottom,
    bl: bottom left,
    l: left,
    tl: top left
  )
) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-transform-origin-#{$key},
      (
        transform-origin: $value
      ),
      $pseudo,
      $responsive
    );
  }
}
