@mixin mu-vertical-align(
  $pseudo: (),
  $responsive: (),
  $values: (
    baseline: baseline,
    top: top,
    middle: middle,
    bottom: bottom,
    text-top: text-top,
    text-bottom: text-bottom
  )
) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-align-#{$key},
      (
        vertical-align: $value
      ),
      $pseudo,
      $responsive
    );
  }
}
