@mixin mu-whitespace(
  $pseudo: (),
  $responsive: (),
  $values: (
    normal: normal,
    no-wrap: nowrap,
    pre: pre,
    pre-line: pre-line,
    pre-wrap: pre-wrap
  )
) {
  @each $key, $value in $values {
    @include mu-create-utility(
      u-whitespace-#{$key},
      (
        white-space: $value
      ),
      $pseudo,
      $responsive
    );
  }
}
