@mixin mu-word-break($pseudo: (), $responsive: ()) {
  @include mu-create-utility(
    u-break-normal,
    (
      word-break: normal,
      overflow-wrap: normal
    ),
    $pseudo,
    $responsive
  );
  @include mu-create-utility(
    u-break-words,
    (
      overflow-wrap: break-word
    ),
    $pseudo,
    $responsive
  );
  @include mu-create-utility(
    u-break-all,
    (
      word-break: normal
    ),
    $pseudo,
    $responsive
  );
  @include mu-create-utility(
    u-truncate,
    (
      overflow: hidden,
      text-overflow: ellipsis,
      white-space: nowrap
    ),
    $pseudo,
    $responsive
  );
}
