@mixin u-z-index(
  $responsive: false,
  $pseudo: false,
  $values: (
    0: 0,
    10: 10,
    20: 20,
    30: 30,
    40: 40,
    50: 50,
    auto: auto
  )
) {
  .u-z {
    @each $key, $value in $values {
      &-#{$key} {
        @include ruleset($responsive) {
          z-index: $value;
          @include pseudo-variants($pseudo);
        }
      }
    }
  }
}
